:root {
  --light-main-bg-color: rgb(231, 231, 231);
  --light-main-color: rgb(8, 8, 8);
  --light-header-bg-color: rgb(255, 198, 93);
  --light-footer-bg-color: rgb(199, 199, 199);

  --dark-main-bg-color: rgb(37, 35, 35);
  --dark-main-color: rgb(238, 238, 238);
  --dark-header-bg-color: rgb(192, 138, 38);
  --dark-footer-bg-color: rgb(58, 58, 58);

  --header-bg-color-hover: rgba(201, 130, 0, 0.726);
}

* {
  margin: 0;
  padding: 0;
}
button {
  background-color: transparent;
  border: none;
}
html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}
header,
section,
main,
nav,
footer,
article,
figure,
hgroup {
  display: block;
  width: 100%;
}

::-webkit-scrollbar {
  width: 0.6em;
}
::-webkit-scrollbar-track {
}
::-webkit-scrollbar-thumb {
  background: rgb(82, 82, 82);
}
::-webkit-scrollbar-thumb:hover {
  background: rgb(54, 54, 54);
}
