header {
  border-bottom: solid 2px rgb(94, 61, 0);
  width: 100%;
  transition: 0.5s;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-end;
}

.logo__and__theme {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.logo {
  margin: 0.5rem;
  height: 5rem;
}
.logo__mini {
  margin: 0.5rem;
  height: 4rem;
  display: none;
}

.menu__container {
  background-color: transparent;
  display: flex;
  overflow: hidden;
  list-style: none;
  z-index: 1;
}
.menu__container .menu__icon {
  display: none;
}

.menu__container a {
  background-color: transparent;
  text-decoration: none;
  display: inline-block;
  font-size: 1.4rem;
  padding: 0.5rem 1rem;
}
.menu__container li {
  transition: 0.5s;
  margin: 0.7rem;
  border-radius: 20px;
  overflow: hidden;
}

.selected {
  background-color: rgba(0, 0, 0, 0.37);
  border-radius: 25%;
}

.theme__switch {
  margin: 2rem;
  height: 24px;
  border: solid 1px black;
  border-radius: 10px;
  list-style-position: inside;
  display: inline-flex;
  list-style: none;
  overflow: hidden;
}

.theme__switch button {
  padding: 3px 7px 3px 7px;
  cursor: pointer;
  margin-bottom: 0;
  transition: 1s;
}

.light__mode {
  background-color: var(--light-header-bg-color);
  color: var(--light-main-color);
}
.light__mode a {
  color: var(--light-main-color);
}
.light__mode a .menu__icon {
  color: var(--light-main-color);
}

.dark__mode {
  background-color: var(--dark-header-bg-color);
  color: var(--dark-main-color);
}

.dark__mode a {
  color: var(--dark-main-color);
  text-shadow: 0 0 2px black;
}
.dark__mode a .menu__icon {
  color: var(--dark-main-color);
}

.menu__container li:hover,
.menu__container li:active {
  background-color: var(--header-bg-color-hover);
}

@media (min-width: 27em) {
  .menu__container .current__site {
    background-color: var(--header-bg-color-hover);
    box-shadow: 0 1px 4px black;
  }
}

@media (max-width: 62.5em) {
  .logo {
    display: none;
  }
  .logo__mini {
    display: block;
  }
}

@media (max-width: 27em) {
  .menu__container {
    position: fixed;
    bottom: 0px;
    width: 84%;
    justify-content: space-between;
    border: 2px solid black;
    border-radius: 40px 40px 0 0;
    border-bottom: none;
    background-color: rgba(168, 109, 0, 0.692);
    margin-left: 5%;
    padding: 10px;
    padding-bottom: 0;
  }
  .menu__container h5 {
    display: none;
  }
  .menu__container li {
    text-align: center;
    border: none;
    margin: 0;
    padding: 0;
    margin-bottom: 15px;
  }
  .menu__container .current__site .menu__icon {
    background-color: rgba(160, 70, 38, 0.842);
  }

  .menu__container .menu__icon {
    display: block;
    height: 2.2rem;
    width: 2.2rem;
    margin-top: 8px;
    padding: 10px;
    background-color: rgba(212, 109, 71, 0.842);
    border: 1px solid black;
    border-radius: 50%;
    transition: 0.5s;
  }

  .menu__container li:hover,
  .menu__container li:active {
    background-color: transparent;
    transition: 0.5s;
  }
}

@media (max-width: 45em) {
  header {
    flex-direction: column;
    align-items: flex-start;
  }
  .theme__switch {
    margin: 0;
    position: absolute;
    right: 25px;
    top: 25px;
  }
  .menu__container a {
    padding: 0.2rem 0.6rem;
  }
  .menu__container li {
    margin: 0.3rem;
  }
}
